<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.mysql.dao.UserMapper">

    <select id="queryAllUser" resultType="com.soft.mysql.entity.User">
        select * from user limit 10
    </select>
</mapper>